<section class="jumbotron">
  <h1>Yo!</h1>
  <p class="lead">
    <img src="images/yeoman.png" alt="I'm Yeoman"><br>
    Thank Yeoman for scaffolding!
  </p>
  <p ng-hide="loved"><a class="btn btn-lg btn-success" ng-click="love()"><span class="glyphicon glyphicon-heart"></span></a></p>
  <p ng-show="loved">"You're welcome, sir."</p>
</section>

<section class="row marketing">
  <h4>About us</h4>
  <p>
    We are a startup from california doing nothing but selling used towels. We make enough money to support our families, but not enough to buy a new house. That's where you step into the picture.
  </p>

  <h4>Buy our stuff</h4>
  <p>
    Not only go 100% of your money not to charity, you will have to pay even more for shipping then anywhere else. Towels is awesome, Edgy is even more awesome.
  </p>

  <h4>Awesome features</h4>
  <p>Pay little money for a big effect. Your brand new Towel can soak up any kind of liquid, but be careful: <br />
  Some of our towels may try to devour your soul! Nevertheless, remember to always bring a towel.</p>
</section>